html, body {
    margin: 0;
    padding: 20px 20px 20px 20px;
    font-family: 'kohinoor devanagari', sans-serif;
    color: #000000 ;
    font-weight: ;
}

body {
    background-color: #000000;
}

.top-bar {
    max-width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
   font-size: 30px;
   position: absolute;
   padding: 0px 0px 0px 20px;
   z-index: 3;
   color: #FFFFFF;
   font-weight: bold;
}

.top-menu {
   background-color: #000000;
   position: absolute;
   top: 85px;
   z-index: 2;
   width: 50%;
}

.top-menu ul {
    list-style-type: none;
    font-size: 20px; 
    float: right;
    margin-right: 160px;
}

.top-menu li {
    display: inline-block;
}

.top-menu li a:link, .top-menu li a:visited {
    color: white;
    text-decoration: none;
    padding: 30px 30px 20.5px 20px;
}

.top-menu li a:hover {
    background-color: #000000;
}

.current-page-link {
    background-color: #000000;
}

.page-content {
    position: relative;
    top: 145px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 1;
    Padding:
}

.main-section {
    padding: 10px 20px 20px 20px;
    font-size: 15px
}

.main-section h1, .main-section h4  {
    color: black;
    padding 50px
    font-size:10px
    
}

.main-section figure, .main-section img {
    display: auto;
    margin: auto;
    width: 000px;
    
}

.footer {
    position: relative;
    top: 140px;
    z-index: 3;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#3f3c3c;
}

.footer-content {
    padding: 5px 5px 5px 20px;
    color: white;
}

.footer-content a:link {
    color: white;
    text-decoration: none;
}
